<div class="content">
  <!--Main Blog Content -->
  <div class="large-9 columns" role="content">
    <h3><%= link_to_unless_current blog.title, blog %></h3>
    <h6>Written by Anthony Emtman on <%= blog.updated_at.strftime("%d %B %Y") %></h6>
    <%= image_tag blog.image_url.to_s %>
    <%= simple_format blog.body %>
  </div>
</div>



