<h1>Editing Blog</h1>

<%= render 'form' %>

<td><%= link_to 'Show', @blog, class: 'button tiny radius' %></td> 
<td><%= link_to 'Back', blogs_path, class: 'button tiny radius' %></td>
<td><%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius' %></td>
