<div class="container">
<p id="notice"><%= notice %></p>

<h1><center>the (in)Krediblogs</center></h1>
<h5><center>WIT <small>AND</small> WISDOM - Startups, (K)redibility, <small>AND</small> Life</center></h5><br>

<%= render :partial => @blogs %>

<%= link_to 'New Blog', new_blog_path, class: 'button success radius small' %>

  <div class="sidebar">
    <!-- Sidebar -->
    <aside class="large-3 columns">
      <h5><br>Most Popular</br></h5>
      <ul class="side-nav">
        <li><a href="#">Coming</a></li>
        <li><a href='#'>Soon</a></li>
      </ul>
      <div class="panel">
        <h5>Quote of the Day</h5>
        <p>"Excellence is the gradual result of always striving to do better"</p>
      </div>
    </aside>
    <!-- End Sidebar -->
 </div>
</div>
