<p id="notice"><%= notice %></p>

<h1><center>the (in)Krediblogs</center></h1>
<h5><center>WIT <small>AND</small> WISDOM - Startups, (K)redibility, <small>AND</small> Life</center></h5><br>

<%= render :partial => @blogs %>

<%= link_to 'New Blog', new_blog_path %>
