<%# add navigation links to this file %>
<li class="name"><%= link_to 'Properties', properties_path %></li>
<li class="name"><%= link_to 'Reviews', reviews_path %></li>
<li class="name"><%= link_to 'Application', applications_path %></li>
<li calss="name"><%= link_to 'Blog', blogs_path %></li>